In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('home data.csv')

In [3]:
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [4]:
df.isnull().sum()

x    0
y    0
dtype: int64

In [5]:
x = df['x']
y = df['y']

In [6]:
x

0     48.955889
1     44.687196
2     60.297327
3     45.618644
4     38.816818
        ...
94    50.030174
95    49.239765
96    50.039576
97    48.149859
98    25.128485
Name: x, Length: 99, dtype: float64

In [7]:
y

0     60.723602
1     82.892504
2     97.379897
3     48.847153
4     56.877213
        ...
94    81.536991
95    72.111832
96    85.232007
97    66.224958
98    53.454394
Name: y, Length: 99, dtype: float64

# Gradient Descent

In [10]:
m = 0
c = 0
learning_rate = 0.01

n =int(len(x))

iterations = 1000

for i in range(iterations):
    y_prediction = m * x + c
    derivative_m = (-2/n) * sum(x * (y - y_prediction))
    derivative_c = (-2/n) * sum(y - y_prediction)
    
    m = m - learning_rate * derivative_m
    c = c - learning_rate * derivative_c
print(m,c)

TypeError: object of type 'float' has no len()

# Prediction

In [9]:
x = float(input('Enter a value: '))
y = m * x + c
y

Enter a value: 48.955889

nan