# Car driving risk with multiple data - speed, car_age & experience of the driver

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('car_data.csv')
df.head

<bound method NDFrame.head of    speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10>

In [3]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [4]:
exp_mean = df['experience'].mean()
df['experience'].fillna(exp_mean, inplace = True)

In [5]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         6.6    60
4    140        5         3.0    82
5    115        2         8.0    10

# Linear Regression

In [16]:
reg = LinearRegression()
reg.fit(df[['speed', 'car_age', 'experience']], df.risk)

LinearRegression()

# Prediction

In [9]:
reg.predict([[160, 10, 5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.57528852])

# Checking

In [10]:
reg.coef_

array([ 0.20002475,  2.15839587, -7.83235626])

In [11]:
reg.intercept_

57.14915035913907

In [14]:
# y = m1x1 + m2x2 + m3x3 + c
risk = 0.20002475 * 160 + 2.15839587 * 10 -7.83235626 * 5 + 57.14915035913907
risk

71.57528775913907

# So, prediction is same as using equation