In [20]:
import pandas as pd
import scipy

In [2]:
df = pd.read_csv('Class test Data.csv')

In [3]:
df

      age  trestbps  chol  thalach  oldpeak
0      52       125   212      168      1.0
1      53       140   203      155      3.1
2      70       145   174      125      2.6
3      61       148   203      161      0.0
4      62       138   294      106      1.9
...   ...       ...   ...      ...      ...
1020   59       140   221      164      0.0
1021   60       125   258      141      2.8
1022   47       110   275      118      1.0
1023   50       110   254      159      0.0
1024   54       120   188      113      1.4

[1025 rows x 5 columns]

In [4]:
df.thalach.describe()

count    1025.000000
mean      149.114146
std        23.005724
min        71.000000
25%       132.000000
50%       152.000000
75%       166.000000
max       202.000000
Name: thalach, dtype: float64

In [8]:
mode = df.thalach.mode()

In [9]:
mode

0    162
Name: thalach, dtype: int64

In [10]:
median = df.thalach.median()

In [11]:
median

152.0

In [12]:
variance = df.thalach.var()

In [13]:
variance

529.263325076219

In [15]:
kurtosis = df.thalach.kurtosis()

In [16]:
kurtosis

-0.08882248803265647

In [17]:
skewness = df.thalach.skew()

In [18]:
skewness

-0.5137771771417209

In [22]:
from scipy.stats import variation

In [23]:
#Cofficient of variation

cof_var = variation(df.thalach)

In [24]:
cof_var

0.15420735904272498

In [25]:
# Germatric mean
from scipy.stats import gmean

In [26]:
gmean = gmean(df.thalach)

In [28]:
gmean

147.18153768766382

In [30]:
#Inter Quartile Range
from scipy.stats import iqr

iqr = iqr(df.thalach)

In [31]:
iqr

34.0

In [32]:
#Percentile
import numpy as np

In [36]:
percntle = np.percentile(df.thalach, 0.20)

In [37]:
percntle

71.0

In [ ]:
#range